<%= form_with model: @url do |form| %>
  <div>
    <%= form.label :long_url %><br>
    <%= form.text_field :long_url %>
  </div>

  <%# <div>
    <%= form.label :short_url<br>
    <%# <%= form.text_area :short_url<br> %>
  <%# </div> %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
